In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

In [2]:
# Import csv
df = pd.read_csv('C:/Users/Admin/group9/Resources/cleaned_wake_df.csv')
df.head()

,Township,Deeded_Acreage,Total_sale_Price,Year_Built,HEATED_AREA,DESIGN_STYLE,BATH,Story_Height,PHYSICAL_CITY,PHYSICAL_ZIP_CODE,year,month,Quarter
0,1,0.21,34500,1964,1828,I,C,A,RALEIGH,27610.0,1974,1,1
1,16,0.46,35500,1970,1240,A,A,A,RALEIGH,27610.0,1983,5,2
2,10,0.46,37500,1900,2261,A,C,A,WENDELL,27591.0,2004,9,3
3,8,0.96,70000,1971,3770,A,J,A,RALEIGH,27613.0,1971,1,1
4,1,0.47,380000,1946,1789,A,C,A,RALEIGH,27607.0,2015,8,3

In [3]:
# Creating new 'last decade' df
last_decade_df = df.loc[(df['year'] >= 2012)]
last_decade_df.head()

,Township,Deeded_Acreage,Total_sale_Price,Year_Built,HEATED_AREA,DESIGN_STYLE,BATH,Story_Height,PHYSICAL_CITY,PHYSICAL_ZIP_CODE,year,month,Quarter
4,1,0.47,380000,1946,1789,A,C,A,RALEIGH,27607.0,2015,8,3
10,1,0.17,364000,1931,1500,A,B,J,RALEIGH,27608.0,2014,12,4
14,1,0.17,395000,1946,1212,A,C,A,RALEIGH,27608.0,2017,1,1
19,17,0.53,118000,1958,1560,A,C,A,KNIGHTDALE,27545.0,2015,8,3
20,12,0.13,202000,1948,1671,A,C,B,FUQUAY VARINA,27526.0,2016,9,3

In [4]:
# Checking to make sure max and min years are what we want
last_decade_df['year'].min()

2012

In [5]:
# Checking to make sure max and min years are what we want
last_decade_df['year'].max()

2023

In [6]:
# Checking to see if there is enough data to continue with this dataset
last_decade_df.shape

(179380, 13)

In [7]:
# Creating 2010's df
df_2010s = df.loc[(df['year'] >= 2010)
                 & (df['year'] < 2020)]
df_2010s.head()

,Township,Deeded_Acreage,Total_sale_Price,Year_Built,HEATED_AREA,DESIGN_STYLE,BATH,Story_Height,PHYSICAL_CITY,PHYSICAL_ZIP_CODE,year,month,Quarter
4,1,0.47,380000,1946,1789,A,C,A,RALEIGH,27607.0,2015,8,3
10,1,0.17,364000,1931,1500,A,B,J,RALEIGH,27608.0,2014,12,4
14,1,0.17,395000,1946,1212,A,C,A,RALEIGH,27608.0,2017,1,1
19,17,0.53,118000,1958,1560,A,C,A,KNIGHTDALE,27545.0,2015,8,3
20,12,0.13,202000,1948,1671,A,C,B,FUQUAY VARINA,27526.0,2016,9,3

In [8]:
# Checking to make sure max and min years are what we want
df_2010s['year'].min()

2010

In [9]:
# Checking to make sure max and min years are what we want
df_2010s['year'].max()

2019

In [10]:
# Checking to see if there is enough data to continue with this dataset
df_2010s.shape

(118099, 13)

In [11]:
# Creating 2020's df
df_2020s = df.loc[(df['year'] >= 2020)]
df_2020s.head()

,Township,Deeded_Acreage,Total_sale_Price,Year_Built,HEATED_AREA,DESIGN_STYLE,BATH,Story_Height,PHYSICAL_CITY,PHYSICAL_ZIP_CODE,year,month,Quarter
22,1,0.19,975000,1929,2316,A,F,C,RALEIGH,27608.0,2021,12,4
23,1,0.15,350000,1949,1020,A,C,A,RALEIGH,27604.0,2020,8,3
30,16,0.72,272000,1971,1971,A,D,A,GARNER,27529.0,2021,3,1
31,4,0.60,850000,1973,2492,I,E,A,CARY,27511.0,2022,1,1
37,4,0.30,25000,1969,2015,I,D,A,CARY,27511.0,2021,7,3

In [12]:
# Checking to see if there is enough data to continue with this dataset
df_2020s.shape

(71364, 13)

In [13]:
# Creating 2000's df
df_2000s = df.loc[(df['year'] >= 2000)
                 & (df['year'] < 2010)]

In [14]:
# Checking to see if there is enough data to continue with this dataset
df_2000s.shape

(62729, 13)

In [15]:
# Creating 1990's df
df_1990s = df.loc[(df['year'] >= 1990)
                 & (df['year'] < 2000)]

In [16]:
df_1990s.shape

(27707, 13)

In [17]:
# Exporting all of our created csv's
last_decade_df.to_csv(r'C:/Users/Admin/group9/Resources/last_decade_df.csv', index = False, header=True)
df_2020s.to_csv(r'C:/Users/Admin/group9/Resources/df_2020s.csv', index = False, header=True)
df_2010s.to_csv(r'C:/Users/Admin/group9/Resources/df_2010s.csv', index = False, header=True)
df_2000s.to_csv(r'C:/Users/Admin/group9/Resources/df_2000s.csv', index = False, header=True)
df_1990s.to_csv(r'C:/Users/Admin/group9/Resources/df_1990s.csv', index = False, header=True)

In [18]:
last_decade_df.describe(percentiles=[0.01,0.05,0.1,0.25,0.75,0.9,0.95,0.99])

,Township,Deeded_Acreage,Total_sale_Price,Year_Built,HEATED_AREA,PHYSICAL_ZIP_CODE,year,month,Quarter
count,179380.000000,179380.000000,1.793800e+05,179380.000000,179380.000000,179380.000000,179380.000000,179380.000000,179380.000000
mean,12.135528,0.311124,3.572572e+05,2001.577194,2353.749604,27567.809137,2018.116691,6.678381,2.547586
std,6.240628,0.349470,1.684830e+05,18.552435,851.419440,41.504113,2.995439,3.264019,1.072159
min,1.000000,0.030000,1.500000e+04,1800.000000,913.000000,27501.000000,2012.000000,1.000000,1.000000
1%,1.000000,0.030000,8.500000e+04,1939.000000,1016.000000,27502.000000,2012.000000,1.000000,1.000000
5%,1.000000,0.040000,1.390000e+05,1964.000000,1200.000000,27502.000000,2013.000000,1.000000,1.000000
10%,4.000000,0.050000,1.690000e+05,1977.000000,1339.000000,27513.000000,2014.000000,2.000000,1.000000
25%,6.000000,0.130000,2.350000e+05,1994.000000,1682.000000,27526.000000,2016.000000,4.000000,2.000000
50%,13.000000,0.210000,3.285000e+05,2005.000000,2240.000000,27587.000000,2019.000000,7.000000,3.000000
75%,18.000000,0.340000,4.450000e+05,2016.000000,2895.000000,27609.000000,2021.000000,9.000000,3.000000
90%,20.000000,0.690000,5.890000e+05,2020.000000,3528.000000,27615.000000,2022.000000,11.000000,4.000000
95%,20.000000,0.970000,6.850000e+05,2021.000000,3970.000000,27616.000000,2022.000000,12.000000,4.000000
99%,20.000000,1.890000,8.750000e+05,2022.000000,4698.000000,27617.000000,2023.000000,12.000000,4.000000
max,20.000000,3.060000,1.050000e+06,2024.000000,5171.000000,27703.000000,2023.000000,12.000000,4.000000

In [19]:
last_decade_df.dtypes

Township               int64
Deeded_Acreage       float64
Total_sale_Price       int64
Year_Built             int64
HEATED_AREA            int64
DESIGN_STYLE          object
BATH                  object
Story_Height          object
PHYSICAL_CITY         object
PHYSICAL_ZIP_CODE    float64
year                   int64
month                  int64
Quarter                int64
dtype: object