In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

In [3]:
# Import csv
df = pd.read_csv('C:/Users/Admin/group9/Resources/cleaned_wake_df.csv')
df.head()

,REAL_ESTATE_ID,Township,Deeded_Acreage,Total_sale_Price,Year_Built,HEATED_AREA,DESIGN_STYLE,BATH,Story_Height,PHYSICAL_CITY,PHYSICAL_ZIP_CODE,year,month,Quarter
0,19,1,0.21,34500,1964,1828,I,C,A,RALEIGH,27610.0,1974,1,1
1,20,16,0.46,35500,1970,1240,A,A,A,RALEIGH,27610.0,1983,5,2
2,22,10,0.46,37500,1900,2261,A,C,A,WENDELL,27591.0,2004,9,3
3,25,8,0.96,70000,1971,3770,A,J,A,RALEIGH,27613.0,1971,1,1
4,30,1,0.47,380000,1946,1789,A,C,A,RALEIGH,27607.0,2015,8,3

In [4]:
# Creating new 'last decade' df
last_decade_df = df.loc[(df['year'] >= 2012)]
last_decade_df.head()

,REAL_ESTATE_ID,Township,Deeded_Acreage,Total_sale_Price,Year_Built,HEATED_AREA,DESIGN_STYLE,BATH,Story_Height,PHYSICAL_CITY,PHYSICAL_ZIP_CODE,year,month,Quarter
4,30,1,0.47,380000,1946,1789,A,C,A,RALEIGH,27607.0,2015,8,3
10,38,1,0.17,364000,1931,1500,A,B,J,RALEIGH,27608.0,2014,12,4
14,42,1,0.17,395000,1946,1212,A,C,A,RALEIGH,27608.0,2017,1,1
20,51,17,0.53,118000,1958,1560,A,C,A,KNIGHTDALE,27545.0,2015,8,3
21,52,12,0.13,202000,1948,1671,A,C,B,FUQUAY VARINA,27526.0,2016,9,3

In [9]:
# Checking to make sure max and min years are what we want
last_decade_df['year'].min()

2012

In [10]:
# Checking to make sure max and min years are what we want
last_decade_df['year'].max()

2023

In [12]:
# Checking to see if there is enough data to continue with this dataset
last_decade_df.shape

(197554, 14)

In [13]:
# Creating 2010's df
df_2010s = df.loc[(df['year'] >= 2010)
                 & (df['year'] < 2020)]
df_2010s.head()

,REAL_ESTATE_ID,Township,Deeded_Acreage,Total_sale_Price,Year_Built,HEATED_AREA,DESIGN_STYLE,BATH,Story_Height,PHYSICAL_CITY,PHYSICAL_ZIP_CODE,year,month,Quarter
4,30,1,0.47,380000,1946,1789,A,C,A,RALEIGH,27607.0,2015,8,3
10,38,1,0.17,364000,1931,1500,A,B,J,RALEIGH,27608.0,2014,12,4
14,42,1,0.17,395000,1946,1212,A,C,A,RALEIGH,27608.0,2017,1,1
20,51,17,0.53,118000,1958,1560,A,C,A,KNIGHTDALE,27545.0,2015,8,3
21,52,12,0.13,202000,1948,1671,A,C,B,FUQUAY VARINA,27526.0,2016,9,3

In [14]:
# Checking to make sure max and min years are what we want
df_2010s['year'].min()

2010

In [15]:
# Checking to make sure max and min years are what we want
df_2010s['year'].max()

2019

In [16]:
# Checking to see if there is enough data to continue with this dataset
df_2010s.shape

(129241, 14)

In [17]:
# Creating 2020's df
df_2020s = df.loc[(df['year'] >= 2020)]
df_2020s.head()

,REAL_ESTATE_ID,Township,Deeded_Acreage,Total_sale_Price,Year_Built,HEATED_AREA,DESIGN_STYLE,BATH,Story_Height,PHYSICAL_CITY,PHYSICAL_ZIP_CODE,year,month,Quarter
23,58,1,0.19,975000,1929,2316,A,F,C,RALEIGH,27608.0,2021,12,4
26,62,1,0.15,350000,1949,1020,A,C,A,RALEIGH,27604.0,2020,8,3
33,70,16,0.72,272000,1971,1971,A,D,A,GARNER,27529.0,2021,3,1
34,71,4,0.60,850000,1973,2492,I,E,A,CARY,27511.0,2022,1,1
40,81,4,0.30,25000,1969,2015,I,D,A,CARY,27511.0,2021,7,3

In [18]:
# Checking to see if there is enough data to continue with this dataset
df_2020s.shape

(79495, 14)

In [19]:
# Creating 2000's df
df_2000s = df.loc[(df['year'] >= 2000)
                 & (df['year'] < 2010)]

In [20]:
# Checking to see if there is enough data to continue with this dataset
df_2000s.shape

(68069, 14)

In [21]:
# Creating 1990's df
df_1990s = df.loc[(df['year'] >= 1990)
                 & (df['year'] < 2000)]

In [22]:
df_1990s.shape

(29622, 14)

In [23]:
# Exporting all of our created csv's
last_decade_df.to_csv(r'C:/Users/Admin/group9/Resources/last_decade_df.csv', index = False, header=True)
df_2020s.to_csv(r'C:/Users/Admin/group9/Resources/df_2020s.csv', index = False, header=True)
df_2010s.to_csv(r'C:/Users/Admin/group9/Resources/df_2010s.csv', index = False, header=True)
df_2000s.to_csv(r'C:/Users/Admin/group9/Resources/df_2000s.csv', index = False, header=True)
df_1990s.to_csv(r'C:/Users/Admin/group9/Resources/df_1990s.csv', index = False, header=True)